<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item btn">
        <%= link_to "Cocktails menu", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item btn">
        <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="cocktail-show">
    <img <%= image_tag @cocktail.photo_url, alt: "#{@cocktail.name}" %>
    <div class="cocktail-body">
      <h1><%= @cocktail.name %></h1>
      <% @cocktail.doses.each do |dose| %>
        <h5><%= dose.ingredient.name %></h5>
        <p><%= dose.description %></p>
        <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <%= cl_image_tag("qmyrt7ikskofldwds51b",
      width: 400, height: 300, crop: :fill) %>


</div>
